{% assign noheader = "" %}
{% if settings.twitter_show_header == false %}
    {% assign noheader = "noheader" %}
{% endif %}
{% assign noborder = "" %}
{% if settings.twitter_show_border_enable == false %}
    {% assign noborder = "noborders" %}
{% endif %}
{% assign nofootter = "" %}
{% if settings.twitter_show_footer == false %}
    {% assign nofootter = "nofooter" %}
{% endif %}
{% assign nobackground = "" %}
{% if settings.twitter_show_background == false %}
    {% assign nobackground = "transparent" %}
{% endif %}
<div id="twitter_block" class="block footer-block inline">
    {% if settings.twitter_title != blank %}
        <h4 class="title_block">
            {{ settings.twitter_title }}
        </h4>
    {% endif %}
    <div class="block_content">
        <div id="ap-twitter{{ settings.twitter_id }}" class="ap-twitter">
            <a class="twitter-timeline" data-dnt="true"  data-theme="light" data-link-color="{{ settings.twitter_link_color }}" data-chrome="{{ noheader }} {{ nofootter }} {{ noborder }} {{ nobackground }}" data-border-color="{{ settings.twitter_show_border }}" lang="en" data-tweet-limit="{{ settings.twitter_count }}" data-show-replies="{{ settings.twitter_show_replies }}" href="https://twitter.com/{{ settings.twitter_user }}"  data-widget-id="{{ settings.twitter_id }}"  >Tweets by @{{ settings.twitter_user }}</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>
<script type="text/javascript">
    var hideTwitterAttempts = 0;
    function hideTwitterBoxElements() {
     	setTimeout( function() {
      		if ( $('[id*=ap-twitter{{ settings.twitter_id }}]').length ) {
       			$('#ap-twitter{{ settings.twitter_id }} iframe').each( function(){
        			var ibody = $(this).contents().find( 'body' );
        			var show_scroll =  {{ settings.twitter_show_scrollbar }}; 
        			var height =  {{ settings.twitter_height }};
        			var width =  {{ settings.twitter_width }};
        			if ( ibody.find( '.timeline .stream .h-feed li.tweet' ).length ) {
            			ibody.find( '.timeline .stream' ).css( 'width', width );
            			ibody.find( '.e-entry-title' ).css( 'color', '{{ settings.twitter_text_color }}' );
            			ibody.find( '.header .p-nickname' ).css( 'color', '{{ settings.twitter_link_color }}' );
            			ibody.find( '.p-name' ).css( 'color', '{{ settings.twitter_name_color }}' );
            			if(show_scroll){
                			ibody.find( '.timeline .stream' ).css( 'max-height', height );
                			ibody.find( '.timeline .stream' ).css( 'overflow-y', 'auto' );  
                			$(this).find( '.twitter-timeline' ).css( 'height', 'inherit !important' );
            			}
        			} else {
         				$(this).hide();
        			}
       			});
      		}
  			hideTwitterAttempts++;
      		if ( hideTwitterAttempts < 3 ) {
       			hideTwitterBoxElements();
			}
		}, 1500);
    }
    $(document).ready(function(){
    	hideTwitterBoxElements();
    });
</script>