{% assign pagewishlist = pages[settings.theme_wishlist_page] %}
{% if shop.customer_accounts_optional or shop.customer_accounts_enabled %}
	<!-- script type="text/javascript">
		$(document).ready( function(){
			if( $(window).width() < 991 ){
					$(".header_user_info").addClass('popup-over');
					$(".header_user_info .links").addClass('dropdown-menu');
				}
				else{
					$(".header_user_info").removeClass('popup-over');
					$(".header_user_info .links").removeClass('dropdown-menu');
				}
			$(window).resize(function() {
				if( $(window).width() < 991 ){
					$(".header_user_info").addClass('popup-over');
					$(".header_user_info .links").addClass('dropdown-menu');
				}
				else{
					$(".header_user_info").removeClass('popup-over');
					$(".header_user_info .links").removeClass('dropdown-menu');
				}
			});
		});
	</script -->
	<div class="welcome-msg pull-left">
      {{ 'header.userinfo.welcome_message' | t }}
	</div>	
	<div class="header_user_info popup-over e-scale">
		<div data-toggle="dropdown" class="popup-title dropdown-toggle">
			<i class="fa fa-user"></i><span>{{ 'header.userinfo.title' | t }}</span>
		</div>
      	<div class="dropdown-menu">
		<ul class="links list-unstyled">
          	{% if customer  %}
                <li>
                  <a class="account" rel="nofollow" href="/account" title="{{ 'header.general.account' | t }}"><i class="fa fa-user"></i> {{ 'header.general.account' | t }}</a>
                </li>
				<li>
					<a id="customer_logout_link" href="/account/logout" title="{{ 'header.general.logout' | t }}"><i class="fa fa-unlock-alt"></i> {{ 'header.general.logout' | t }}</a>
				</li>
			{% else %}
				<li>
					<a id="customer_login_link" href="/account/login" title="{{ 'header.general.login' | t }}"><i class="fa fa-unlock-alt"></i> {{ 'header.general.login' | t }}</a>
				</li>
				<li>
					<a id="customer_register_link" href="/account/register" title="{{ 'header.general.register' | t }}"><i class="fa fa-edit"></i> {{ 'header.general.register' | t }}</a>
				</li>
			{% endif %}
          	{% if settings.theme_wishlist_enable %}
				<li>
					<a id="wishlist-total" title="{{ 'header.general.wishlist' | t }}" href="{{ pagewishlist.url }}"><i class="fa fa-list-alt"></i> {{ 'header.general.wishlist' | t }}</a>
				</li>
			{% endif %}
			<li>
				<a href="/cart" title="{{ 'header.general.checkout' | t }}"><i class="fa fa-share"></i> {{ 'header.general.checkout' | t }}</a>
			</li>
		</ul>
      </div>
	</div>
{% endif %}