<section id="columns" class="columns-container page_404">
    <div class="container">
    	<div class="row">
    		<div id="center_column" class="center_column col-sm-12 col-md-12">
              	<div class="page-404">
                    <h1>{{ 'general.404.title' | t }}</h1>
                    <h2>{{ 'general.404.subtext_html' | t }}</h2>
                    <p class="des_cription_404">{{ settings.found_html }}</p>
                    <div class="text-center btn_404">
                        {% if settings.found_btnleft_text != blank %}
                            <a href="{{ settings.found_btnleft_link }}" class="btn btn-outline-inverse">{{ settings.found_btnleft_text }}</a>
                        {% endif %}
                        {% if settings.found_btnright_text != blank %}
                            <a href="{{ settings.found_btnright_link }}" class="btn btn-outline-inverse">{{ settings.found_btnright_text }}</a>
                        {% endif %}
                    </div>
                </div>
    		</div>
		</div>
	</div>
</section>